<div class="ui card form" *ngIf="hero" [class.loading]="loading">
    <div class="ui top left attached label">
        heroes-detail.component
    </div>
    <div class="content">
        <div class="header">Hero Details {{ loading }}</div>
        <div class="description">
            <table class="ui definition table">
                <tbody>
                    <tr>
                        <td>ID</td>
                        <td>{{ hero.id }}</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>
                            <div class="field">
                                <input
                                    type="text"
                                    [(ngModel)]="hero.name"
                                    placeholder="Enter hero's name..."
                                />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="ui basic buttons">
                <div class="ui icon button" (click)="onSave(hero)">
                    <i class="check icon"></i>
                    Save
                </div>
                <div class="ui icon button" (click)="onDelete(hero)">
                    <i class="trash icon"></i>
                    Delete
                </div>
                <div class="ui icon button" (click)="onCancel(hero)">
                    <i class="ban icon"></i>
                    Cancel
                </div>
            </div>
            <div class="ui custom message">
                <span class="header">{{ hero.name }}</span>
            </div>
        </div>
    </div>
</div>
