.ui.card
    width 600px

    .description > div
        border-top 1px solid #eee

        label
            font-weight bold
            width 120px
            display block

.ui.table > tbody > tr > td:first-child
    width 100px